$tablet: 1439px;
$medium-tablet: 970px;
$mobil: 767px;
$min-mobil: 619px;

$font--Merriweather: "Merriweather", "Times New Roman", serif;
$font--Inter: "Inter", "Arial", sans-serif;

$white: rgb(255, 255, 255);
$transparent_white: rgb(255, 255, 255, 0.5);
$transparent_white_light: rgb(255, 255, 255, 0.3);
$black: rgb(0, 0, 0);
$transparent_black: rgb(0, 0, 0, 0.5);
$transparent_black_light: rgb(0, 0, 0, 0.3);
$gold: rgb(189, 174, 130);